.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #455a64;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #20395e;
}

.distill-site-header {
  background-color: #80dfe0;
  text-align: left;
  padding: 20px;
}

.distill-site-footer {
 background-color: #80dfe0;
  text-align: left;
  padding: 10px;
}

@media print {
  .distill-site-nav {
    display: none;
  }
}